html, body{
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

div.content{
    background-image: url("img/fondo.jpg");
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 3rem;
    padding-top: 0rem;
}

div.primary-header{
    background-color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 12.5%;
    width: 95%;
    padding: 2rem;
}

nav.nav{
    flex-grow: 1;
}

ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}

a{
    text-decoration: none;
}

.push-right{
    margin-left: auto;
}

div.container{
    background-color: aqua;
    align-self: flex-end;
    margin-top: 10rem;
    height: 60%;
    width: 40%;
}
