@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html, body{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

div.content{
    background-image: url("img/fondo.jpg");
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 3rem;
    padding-top: 0rem;
}

div.primary-header{
    background-color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 95%;
    padding: 1.5rem;
}

nav.nav{
    flex-grow: 1;
}

ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}

a{
    text-decoration: none;
    color: gray;
}

a.selected{
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 3px;
}

.push-right{
    margin-left: auto;
}

div.container{
    background-color: white;
    align-self: flex-end;
    margin-top: 10rem;
    padding: 2rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
