html,body {
    height: 100%;
    margin: 0;
    background-color: white;
    font-family: sans-serif; 
}

.body{
    height: 100%;
    display: flex;
    gap: 30px;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

h5{
    color: gray;
    font-weight: normal;
}

.form{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px gray solid;
    width: 300px;
    height: 275px;

}

.form-2{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px gray solid;
    width: 300px;
    height: 400px;

}

.text{
    height: 30px;
}

img#small{
    width: 30px;
    height:30px;
    border-radius: 50%;
}

input:focus {
    outline: none;
    border-style: solid;
    border: 3px #FEBD69 solid;
    border-radius: 5px;
}

input#file{
    border: none;
    display: none;
}

.submit{
    background-color: #FEBD69;
    border: 1px gray solid;
    border-radius: 3px;
    width: 100px;
}

.register{
    background-color: rgb(210, 209, 209);
    border: 1px gray solid;
    border-radius: 3px;
    width: 230px;
    height: 20px;
    text-decoration: none;
    color: black;
    text-align: center;
}

label {
    border: 1px gray solid;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    width: 165px;
    height: 30px;
}

i.bi{
    color: red;
}

.alert {
    border: solid 1px #8E0000;
    box-shadow:#00000019 0px 50px 100px -20px, #8e00002c 0px -2px 6px 0px inset;
    padding: 30px;
    width: 230px;
}

.alert-title {
    color: red;
    font-size: larger;
}

.alert-description {
    font-size: medium;
    position: relative;
    left: 25px;
}
